.device-card .card-title {
    font-size: 16px;
}

.device-card .card-image img {
    width: auto;
    height: 200px;
    display: inline;
    cursor: pointer;
}

.device-card .properties {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.device-card .card-reveal span.actual-title {
    display: inline;
    margin-right: 25px;
}

.device-card .card-reveal table {
    margin-bottom: 25px;
}

.device-card .chart-trigger {
    cursor: pointer;
}

.device-card .commands-setters .header {
    padding-top: 2em;
    padding-bottom: 0.5em;
    clear: both;
    color: #9e9e9e;
}

.device-card .commands-setters a.btn {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.device-card .commands-setters a.btn.position-SMALLER {
    margin-left: 15%;
    margin-right: 15%;
}

.device-card .commands-setters a.btn.position-LEFT_HALF {
    width: 48%;
    float: left;
}

.device-card .commands-setters a.btn.position-RIGHT_HALF {
    width: 48%;
    float: right;
}

.device-card .commands-setters a.btn.display-ICON_ONLY {
    text-align: center;
}

.device-card .commands-setters a.btn.display-ICON_ONLY i {
    float: none !important;
    margin: 0;
}

.device-card blockquote {
    font-style: italic;
}

#chart-modal .modal-footer {
    height: 90px;
}

#chart-history-selector {
    float: left;
}

#chart-modal .modal-close {
    margin-top: 30px;
}

#chart-history-selector .select-wrapper ul {
    top: -107px !important;
}
