.device-card .card-title {
    font-size: 16px;
}

.device-card .card-image img {
    width: auto;
    height: 200px;
    display: inline;
    cursor: pointer;
}

.device-card .properties {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.device-card .card-reveal span.actual-title {
    display: inline;
    margin-right: 25px;
}

.device-card .card-reveal table {
    margin-bottom: 25px;
}

.device-card .chart-trigger {
    cursor: pointer;
}

.device-card .commands-setters a.btn {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

#chart-modal .modal-footer {
    height: 90px;
}

#chart-history-selector {
    float: left;
}

#chart-modal .modal-close {
    margin-top: 30px;
}

#chart-history-selector .select-wrapper ul {
    top: -107px !important;
}
